.fighter-info___root {
  width: 200px;
  margin: 10px;
  background: #ffdfa7;
  border: 5px solid #ca9650;
  box-sizing: border-box;
  padding: 10px;
}
.fighter-info___content {
  display: flex;
  flex-flow: column nowrap;
  box-sizing: border-box;
  padding: 15px 15px 0 15px;
  font-size: 1.1rem;
}
.fighter-info-line___content {
  display: flex;
  justify-content: space-between;
}
.fighter-info-line___content > * {
  margin-bottom: 5px;
}
